body {
    font-family: Arial, sans-serif;
    background-color: #81b5d8;
}

h1 {
    color: #333;
    font-size: 24px;
    font-style: italic;
}

div {
    border: 1px solid #333;
    background-color: #fff;
    margin: 10px;
    padding: 10px;
}

h2 {
    color: #0066cc;
    font-size: 20px;
}

p {
    color: #666;
    font-size: 16px;
}
