th{
	font-family:"Rock salt",arial,sans-serif;
	color:green;
	


  }
td{
	font-family:"helvetica neue",helvetica, arial, sans-serif;
	

 }
table{
	border:solid purple;



   }
td{
	background-color:pink;
  }

